{{template "layout.html" .}}
<!--  -->
{{define "main" -}}
<!--  -->
<div>
  <p class="text-[60px] font-semibold">All Posts</p>
  <div class="my-4 h-[0.5px] rounded-full w-full bg-gray-800"></div>
  <div
    class="p-2 border-[0.5px] border-sky-500 rounded-full overflow-hidden grid grid-cols-12 text-center font-medium gap-x-4 bg-sky-600 text-white"
  >
    <p class="col-span-4">Title</p>
    <p class="col-span-5">Short Description</p>
    <p class="col-span-2">Author</p>
    <p class="col-span-1">Action</p>
  </div>
  <div class="my-4 grid w-full gap-y-2">
    {{range .Posts}}
    <div
      class="py-2 px-4 border-[0.5px] border-gray-500 rounded-full overflow-hidden grid grid-cols-12 text-center items-center gap-x-4 {{if .IsEditorsPick}}bg-violet-200{{end}}"
    >
      <p class="col-span-4 line-clamp-1">{{.Title}}</p>
      <p class="col-span-5 line-clamp-1">{{.Short}}</p>
      <p class="col-span-2">{{.PublisherFirstName}} {{.PublisherLastName}}</p>
      <div class="col-span-1 w-full grid grid-cols-2">
        <a href="/admin/posts/{{.ID}}/edit" class="text-yellow-600 text-xl">
          <i class="ph-fill ph-pencil-simple-line"></i>
        </a>
        <a href="/admin/posts/{{.ID}}/remove" class="text-red-600 text-xl">
          <i class="ph-fill ph-trash-simple"></i>
        </a>
      </div>
    </div>
    {{end}}
  </div>
  <div class="mt-12 w-full flex justify-center">
    <a href="/admin/posts/new" class="flex flex-col items-center">
      <div class="text-4xl"><i class="ph-fill ph-plus-circle"></i></div>
      <p>New post</p>
    </a>
  </div>
</div>

<!--  -->
{{- end}}
