{{template "layout.html" .}} {{define "header.scripts-after" -}}
<script src="/static/js/comment.js" defer></script>
{{- end}} {{define "main" -}}
<!--  -->
<div>
  <div class="my-8 flex flex-col max-w-[1024px] mx-auto gap-y-8">
    <h1 class="text-[60px] leading-[60px] font-medium">
      New tools to help small businesses connect with online shoppers
    </h1>
    <div class="text-gray-400">
      <p class="text-base">May 23, 2023</p>
      <p class="text-lg text-gray-600 italic text-justify">
        Hosted on our new and simplified Merchant Center, Product Studio will
        help businesses create product imagery using generative AI.
      </p>
    </div>
    <div class="flex items-center gap-x-4">
      <img
        src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Matt_Madrigal_headshot_1.max-122x92.format-webp.webp"
        alt="author"
        class="w-10 aspect-square rounded-full object-cover" />
      <p class="text-lg font-medium">Matt Madrigal</p>
    </div>
    <img
      src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/commerce_gml_hero.width-1200.format-webp.webp"
      alt="banner"
      class="block w-full aspect-video object-cover" />
    <div class="w-[720px] mx-auto text-justify text-lg">
      <p>
        These days, shopping can happen anytime and anywhere. So it can be
        challenging for businesses to stand out and connect with new customers.
        Eye-catching, unique imagery helps grab shoppers’ attention, but
        creating that content requires a lot of time and resources.
      </p>
      <p>
        These days, shopping can happen anytime and anywhere. So it can be
        challenging for businesses to stand out and connect with new customers.
        Eye-catching, unique imagery helps grab shoppers’ attention, but
        creating that content requires a lot of time and resources.
      </p>
      <p>
        These days, shopping can happen anytime and anywhere. So it can be
        challenging for businesses to stand out and connect with new customers.
        Eye-catching, unique imagery helps grab shoppers’ attention, but
        creating that content requires a lot of time and resources.
      </p>
    </div>
  </div>
</div>
<div class="w-[720px] mx-auto">
  <p class="text-center text-3xl">Comments</p>
  <div class="my-4">
    <!-- parent comment -->
    <div class="w-full flex gap-x-4 items-start">
      <img
        src="https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/f6a736ba94ad35b171aaadab0f900393~c5_100x100.jpeg?x-expires=1685448000&x-signature=%2FL08m9jB7fKWGRrbGyxxTrhkSkQ%3D"
        alt="avatar"
        class="w-10 aspect-square rounded-full object-cover" />
      <div class="flex flex-col w-full gap-y-1">
        <p class="text-lg font-medium">Người Trong Muôn Nghề</p>
        <p>
          Các bạn có thể xem full video ở kênh YouTube của Người Trong Muôn Nghề
          nhé
        </p>
        <div class="flex items-center gap-x-4">
          <p>1 ngày trước</p>
          <p class="cursor-pointer">Trả lời</p>
        </div>
        <!-- child comment -->
        <div class="w-full mt-4 flex gap-x-4 items-start">
          <img
            src="https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/f6a736ba94ad35b171aaadab0f900393~c5_100x100.jpeg?x-expires=1685448000&x-signature=%2FL08m9jB7fKWGRrbGyxxTrhkSkQ%3D"
            alt="avatar"
            class="w-10 aspect-square rounded-full object-cover" />
          <div class="flex flex-col w-full gap-y-1">
            <p class="text-lg font-medium">Người Trong Muôn Nghề</p>
            <p>
              Các bạn có thể xem full video ở kênh YouTube của Người Trong Muôn
              Nghề nhé
            </p>
            <div class="flex items-center gap-x-4">
              <p>1 ngày trước</p>
              <p class="cursor-pointer">Trả lời</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-8">
  <p class="text-center text-3xl">Related Blog</p>
</div>
<!--  -->
{{- end}}
