{{template "layout.html"}}
<!--  -->
{{define "main" -}}
<div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">
    <article class="post-28071">
      <div class="container-fluid site-content">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-7">
            <div class="pb-1">
              <a
                class="meta-text text-uppercase"
                href="https://www.hiepsibaotap.com/cat/game"
                >Game</a
              >
              <span class="meta-text">•</span>
              <span class="meta-text"><a>18.05.2014</a></span>
            </div>
            <h1>Nhật ký của Dev</h1>
            {{template "author" .}}
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
      <div class="container-fluid site-content"></div>
      <div class="container-fluid site-content">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-6">
            <div class="article-content">
              <h3>
                <strong
                  >Nơi đây team báo cáo các thay đổi hàng ngày về mặt kỹ thuật
                  trên website. Bạn có thể báo lỗi hoặc đề xuất chức năng mới
                  cho web qua email: chuquan@hiepsibaotap.com</strong
                >
              </h3>
              <p>
                Website này được phát triển trên nền WordPress và Bootstrap cùng
                nhiều phần mềm hỗ trợ khác.
              </p>
              <hr />
              <p><b>06-07.05.2023</b></p>
              <ul>
                <li>NEW: Homepage mới và gần như là một web mới</li>
              </ul>
              <p><b>23.11.2022</b></p>
              <ul>
                <li>
                  NEW: Bổ sung thêm thanh điều hướng nội dung ngay dưới header
                </li>
                <li>
                  SỬA LỖI: Fix một lỗi rất khó chịu thời gian gần đây khi các
                  thành phần chạy lung tung trong trang chi tiết bài viết.
                </li>
                <li>
                  SỬA LỖI: Fix lỗi hiển thị bố cục thông tin người viết chưa
                  chính xác
                </li>
              </ul>
              <p><b>04.07.2022</b></p>
              <ul>
                <li>THAY ĐỔI: Tắt banner lớn ở đầu trang</li>
                <li>THAY ĐỔI: Bỏ link tới Facebook Fanpage ở đầu trang</li>
                <li>
                  THAY ĐỔI: Thêm mục “Nhà” vào menu chính trên bản Desktop
                </li>
                <li>SỬA LỖI: Khoảng cách lỗi trên bản mobile</li>
              </ul>
              <p><b>08.03.2021</b></p>
              <ul>
                <li>
                  THAY ĐỔI: Tạm thời bỏ hết banner Google Adsense trên phiên bản
                  Desktop
                </li>
                <li>
                  THAY ĐỔI: Thể hiện phần quảng bá Youtube Clip trong mỗi bài
                  viết rõ ràng hơn
                </li>
              </ul>
              <p><b>05.03.2021 – 06.03.2021 – 07.03.2021</b></p>
              <ul>
                <li>
                  THAY ĐỔI LỚN: Một bạn tên hiệu Hiệp Sĩ Vô Danh hỗ trợ server
                  và tối ưu website, đổi lại HSBT đưa banner của bạn lên web.
                </li>
                <li>
                  THAY ĐỔI: Menu trên Desktop và Mobile được điều chỉnh cho gọn
                  gàng hơn
                </li>
                <li>
                  THAY ĐỔI: Tăng số lượng banner quảng cáo ở Trang chủ và bài
                  viết
                </li>
                <li>
                  THAY ĐỔI: Tăng số bài hiển thị trong một trang từ 12 lên 15
                </li>
                <li>THAY ĐỔI: Khoảng cách một số thành phần Trong Trang chủ</li>
                <li>
                  THAY ĐỔI: Bỏ nút “Xem tất cả” trong chức năng Ngày Này Năm Ấy,
                  giờ click tiêu đề NNNA là vô trang xem tất cả luôn.
                </li>
                <li>THAY ĐỔI: Menu mobile vị trí hamburger chính xác hơn.</li>
                <li>MỚI: Đưa clip Youtube vào Trang chủ</li>
                <li>MỚI: Đưa clip Youtube vào Trang chi tiết bài viết</li>
                <li>
                  MỚI: Chèn clip “Những điều cần lưu ý trước khi viết bài cho
                  HSBT” vào trang viết bài của Writer.
                </li>
              </ul>
              <p><b>03.02.2021</b></p>
              <ul>
                <li>
                  Thay đổi: Khoảng cách và vị trí các banner, “vì đối tác”
                </li>
                <li>Thay đổi: Logo và khoảng cách trên bản mobile</li>
                <li>Thay đổi: Khoảng cách của các mục menu trên mobile</li>
              </ul>
              <p><strong>30.01.2021</strong> – <strong>31.01.2021</strong></p>
              <ul>
                <li>Đưa các banner quảng cáo The Next Level lên web</li>
                <li>Mới: Đưa Google Ad Sense trở lại</li>
                <li>
                  Chỉnh sửa: Font chữ các bài trong mục Ngày Này Năm Ấy nhỏ hơn
                  để người đọc có thể lướt nhanh hơn
                </li>
              </ul>
              <p><strong>11.01.2021</strong></p>
              <ul>
                <li>
                  Thêm: Chức năng thông báo dành riêng cho anh em viết bài
                </li>
                <li>
                  Thêm: Chức năng đăng ký thành viên, hiện không cho đăng ký đại
                  trà
                </li>
                <li>Thêm: reCaptcha vào trang Đăng nhập</li>
                <li>
                  Thay đổi: lược giản bớt một số tính năng khi viết bài vì nhiều
                  anh em format lung tung quá
                </li>
                <li>
                  Thay đổi: lược giản bớt một số tính năng ở trang profile
                </li>
                <li>
                  Thay đổi: chuyển vị trí và lược giản mục Series trong trang
                  viết bài
                </li>
                <li>Thay đổi: Thiết kế trang đăng nhập đẹp hơn</li>
                <li>Sửa lỗi: Trang đăng nhập bị mất hình logo</li>
              </ul>
              <p><strong>26.12.2020 – 27.12.2020</strong></p>
              <ul>
                <li>Hiển thị badge chức danh. Như: Chủ quán, phụ bếp</li>
                <li>Thêm: Chức năng Like Facebook cho bài viết</li>
                <li>Làm lại menu chính cho rõ ràng hơn</li>
                <li>Làm lại box Tuyển CTV nổi bật hơn</li>
                <li>Fix: Lỗi hiển thị Rank người viết chưa đúng</li>
                <li>Fix: Lỗi các icon Font Awesome không hiển thị</li>
              </ul>
              <p><strong>25.11.2020</strong></p>
              <ul>
                <li>Fix: Hệ thống gửi email thông báo trên web.</li>
              </ul>
              <p><strong>27.10.2020</strong></p>
              <ul>
                <li>
                  Fix: Các nút phân trang chưa canh giữa (một cách chính xác)
                </li>
                <li>
                  Fix: Khoảng cách giữa hình đại diện và tiêu đề bài viết trong
                  mục “Ngày này năm ấy” chưa chính xác
                </li>
                <li>
                  Fix: Điều chỉnh khoảng cách box “Viết bài có nhuận bút” cho
                  hợp lý hơn
                </li>
                <li>
                  Fix: Điều chỉnh khoảng cách trong trang chi tiết Page (không
                  có hình đại diện) cho hợp lý hơn
                </li>
                <li>
                  Thay đổi: Khoảng cách / Vị trí của menu và tìm kiếm trên bản
                  mobile cho hợp lý hơn
                </li>
                <li>
                  Thay đổi: Màu nền phần menu trên bản mobile chuyển sang xám
                  #e7e7e7
                </li>
                <li>
                  Thay đổi: Bỏ đi mục “Hợp tác” ở chân trang, trong trang Liên
                  hệ cũng đã có mục này. Một phần vì cũng không ai liên hệ hợp
                  tác nên để đó cũng không có tác dụng nhiều
                </li>
              </ul>
              <p><strong>10.6.2020</strong></p>
              <ul>
                <li>Điều chỉnh header để nổi bật phần Tìm kiếm hơn</li>
                <li>Nâng cấp chức năng tìm kiếm cho kết quả tốt hơn</li>
              </ul>
              <p><strong>05.5.2020 – 06.5.2015</strong></p>
              <ul>
                <li>Chính thức phát triển kênh Youtube và Soundcloud</li>
                <li>
                  Đưa phần banner quảng cáo Youtube vào Trang chi tiết bài viết
                </li>
              </ul>
              <p>
                <strong
                  ><br />
                  02.5.2020</strong
                >
              </p>
              <ul>
                <li>
                  TẠO THÊM MỘT BANNER QUẢNG CÁO CHỈ XUẤT HIỆN TRÊN MOBILE. Lý do
                  là để người dùng phiên bản mobile không bị thiệt thòi một số
                  tin quan trọng xuất hiện ở cột phải trên desktop.
                </li>
                <li>Thay đổi thiết kế phần banner dưới menu chính</li>
                <li>Điều chỉnh khoảng cách một số nơi cho đẹp hơn</li>
              </ul>
              <p><strong>01.5.2020</strong></p>
              <p>THAY ĐỔI QUAN TRỌNG VỀ CÁCH TÍNH RANK CỦA NGƯỜI VIẾT:</p>
              <p>
                Từ nay thay vì chỉ tính số bài đã đăng để xếp hạng thì quán sẽ
                tính BAO GỒM cả những bài đã được lên lịch. Điều này sẽ giúp một
                số bạn viết bài rất nhiều nhưng chưa được đăng (do giới hạn mỗi
                tháng của quán) vẫn được ghi nhận.
              </p>
              <p>Các chỉnh sửa khác:</p>
              <ul>
                <li>Điều chỉnh thiết kế phần hiển thị Nhà Tài Trợ</li>
                <li>Điều chỉnh màu sắc đường phân cách (hr) cho rõ hơn</li>
                <li>Điều chỉnh thiết kế phần Cùng Series</li>
                <li>
                  Điều chỉnh phần link phụ ở Footer trên bản mobile chuyển sang
                  canh giữa, thay vì canh trái
                </li>
                <li>
                  Điều chỉnh avatar của người viết khi ở chế độ Dark mode không
                  còn viền trắng
                </li>
                <li>
                  Điều chỉnh khoảng cách phần bullet points (ul / li) cho hợp lý
                  hơn
                </li>
              </ul>
              <p><strong>30.4.2020</strong></p>
              <ul>
                <li>
                  Fix lỗi phần thông tin giá của nhà tài trợ bị xám khi ở chế độ
                  Dark Mode
                </li>
                <li>
                  Màu của đường phân cách (hr) được điều chỉnh lại cho nhẹ nhàng
                  hơn
                </li>
                <li>
                  Bỏ đi đường phân cách giữa nội dung bài viết và thông tin
                  người viết trong trang chi tiết bài viết
                </li>
                <li>
                  Fix lỗi một số đường link khi rê chuột vào bị xám khi ở chế độ
                  Dark Mode
                </li>
              </ul>
              <p><strong>26.04.2020</strong></p>
              <ul>
                <li>
                  Trang hiển thị bài viết theo chuyên mục (Archive) từ giờ mỗi
                  khi qua các trang lớn hơn 1 sẽ không xuất hiện phần giới thiệu
                  chuyên mục nữa.
                </li>
                <li>
                  Cập nhật nội dung Lưu ý dành cho người viết / Lược sử HSBT /
                  Liên hệ / Giới thiệu
                </li>
                <li>Thay đổi vị trí và nội dung một số mục ở Footer</li>
                <li>Điều chỉnh thiết kế Ngày Này Năm Ấy</li>
                <li>Sửa lỗi không hiển thị chức vụ của Author</li>
                <li>
                  Trên Fanpage từ đây mỗi bài đăng sẽ có thêm phần thông tin bổ
                  sung giới thiệu về HSBT (một dạng “chân trang”)
                </li>
                <li>
                  Thay đổi màu nền trang Đăng Nhập từ vàng thành xám trắng cho
                  dễ chịu hơn.
                </li>
              </ul>
              <p><strong>25.04.2020</strong></p>
              <ul>
                <li>
                  Đưa mục Chuyện Ngoài Lề xuất hiện trở lại thay vì ẩn như trước
                  đây. Đổi tên mục thành “Giải trí”
                </li>
                <li>
                  Phần Nhà Tài Trợ trong chi tiết bài viết bỏ đi phần title và
                  description.
                </li>
                <li>
                  Thay đổi thiết kế, bổ sung phần mô tả chuyên mục trong trang
                  hiển thị bài theo chuyên mục.
                </li>
                <li>
                  Cập nhật nội dung các trang: Gửi bài / Liên hệ / Donate / Lược
                  sử HSBT
                </li>
                <li>
                  Bản mobile, điều chỉnh khoảng cách của công tắc Dark Mode cho
                  hợp lý hơn.
                </li>
                <li>Điều chỉnh một số thiết kế ở Dark Mode.</li>
                <li>
                  Trang chi tiết của Page: Sửa lỗi thiết kế phần tên author / Bỏ
                  đi phần Facebook comment / Bỏ một đường line bị dư.
                </li>
                <li>
                  Trang chi tiết của Single và Page chuyển sang nền Trắng chứ
                  không Xám.
                </li>
                <li>
                  Điều chỉnh thiết kế phần Bình luận cho tốt hơn, tạm thời bỏ
                  avatar khi comment.
                </li>
                <li>
                  Điều chỉnh thiết kế phần thông tin author dưới mỗi bài viết.
                </li>
                <li>
                  Sửa lỗi thông tin giá trong phần Nhà Tài Trợ sai font chữ.
                </li>
                <li>Thiết kế lại phần chân trang.</li>
                <li>Điều chỉnh một chút thiết kế phần “Ngày Này Năm Ấy”.</li>
              </ul>
              <p><strong>24.04.2020</strong></p>
              <ul>
                <li>DARK MODE BẢN BETA</li>
                <li>
                  Điều chỉnh Trang chi tiết bài viết không còn dạng thiết kế
                  card. Trong các trang chi tiết bài viết từ đây sẽ có nền
                  trắng.
                </li>
                <li>Drop Shadow cho phần Navigation Bar và Chân Trang.</li>
                <li>Đưa phần Quảng cáo trong bài viết trở lại hoạt động</li>
                <li>
                  Đưa 2 banner quảng cáo ở Trang Chủ thay vì chia thành 2 phần
                  riêng thì giờ sẽ gom chung một hàng / hai cột. Ít làm phiền
                  người dùng hơn.
                </li>
                <li>
                  Đưa phần Facebook Page ở cuối mỗi bài viết trở lại hoạt động
                  (trước đây tắt là do có thời gian Facebook kết nối quá chậm).
                </li>
                <li>Thử đổi phần font chữ sang Noto Serif thay vì Muli</li>
                <li>Điều chỉnh màu viền khung tìm kiếm</li>
                <li>Tăng số lượng chữ mỗi comment lên 20000.</li>
                <li>Sửa lỗi nút nhấn không có nền vàng</li>
                <li>Cập nhật nội dung các trang Gửi bài / Donate</li>
                <li>Một số điều chỉnh nhỏ khác cho đẹp hơn</li>
              </ul>
              <p><strong>23.04.2020</strong></p>
              <ul>
                <li>Điều chỉnh thiết kế phần Ngày Này Năm Ấy cho tốt hơn.</li>
                <li>Điều chỉnh khoảng cách phần dưới Header.</li>
                <li>Cho nền Footer thành màu trắng</li>
                <li>
                  Thay đổi menu phần Footer: Bỏ mục Thông báo / Thêm mục Dev Log
                </li>
              </ul>
              <p><strong>05.04.2020</strong></p>
              <ul>
                <li>Fix lỗi SSL</li>
              </ul>
              <p><strong>31.03.2020</strong></p>
              <ul>
                <li>
                  Sửa lỗi không click được vào tên người viết để đến trang
                  profile của người đó.
                </li>
                <li>
                  Sửa lỗi trang profile người viết phần cột phải nhảy xuống
                  dưới.
                </li>
              </ul>
              <p><strong>29.03.2020</strong></p>
              <ul>
                <li>Trộm vía, Malware tạm ổn</li>
                <li>Cập nhật thông báo trên web</li>
                <li>Chỉnh sửa các lỗi nhỏ khác</li>
              </ul>
              <p><strong>24.03.2020</strong></p>
              <ul>
                <li>
                  Điều chỉnh lại khoảng cách giữa header và body bên dưới cho
                  hợp lý hơn.
                </li>
                <li>
                  Điều chỉnh lại phần Ngày Này Năm Ấy tách biệt hơn so với phần
                  còn lại
                </li>
                <li>Tiếp tục dọn dẹp Malware</li>
              </ul>
              <p><strong>08.03.2020</strong></p>
              <ul>
                <li>Tiếp tục dọn dẹp Malware</li>
              </ul>
              <p><strong>07.03.2020</strong></p>
              <ul>
                <li>Cập nhật icon HSBT trên trình duyệt, trên smartphone.</li>
                <li>
                  Chỉnh sửa trang chi tiết bài viết trên Mobile cho đẹp hơn.
                </li>
                <li>
                  Sửa lỗi thể hiện thông tin người viết trên các dòng smartphone
                  có màn hình nhỏ.
                </li>
              </ul>
            </div>
            <div>
              <div class="row">
                <div class="col-sm-2 text-center text-sm-start">
                  <a href="https://hiepsibaotap.com/author/admin/"
                    ><img
                      class="avatar-96"
                      src="https://hiepsibaotap.com/wp-content/uploads/2021/10/unnamed-152x152.jpeg"
                  /></a>
                </div>
                <div class="col-sm-10 text-center text-sm-start ps-4">
                  <a
                    class="secondary-text"
                    href="https://hiepsibaotap.com/author/admin/"
                    >ĐB</a
                  >
                  <span class="author-card d-block"
                    ><p class="meta-text badge badge-pill badge-legend">
                      Huyền
                      thoại&nbsp;★&nbsp;★&nbsp;★&nbsp;★&nbsp;★&nbsp;★&nbsp;★
                    </p>
                    &nbsp;&nbsp;<span class="badge-chuquan"
                      >Chủ quán</span
                    ></span
                  >
                  Nghĩ mình phận mỏng cánh chuồn
                </div>
              </div>
            </div>
            <div></div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </article>
    {{template "comment" .}}
  </main>
</div>
{{- end}}
