{{template "layout.html" .}}
<!--  -->
{{define "main" -}}
<div class="container-fluid">
  <div class="row site-content">
    <div class="col-sm-2 d-none d-sm-block">
      <h2 class="block-heading">Bài mới</h2>
      <a href="https://hiepsibaotap.com/cat/game/" class="btn btn-light mb-2"
        >Game</a
      ><br />
      <a href="https://hiepsibaotap.com/cat/giai-tri/" class="btn btn-light"
        >Giải trí</a
      >
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-4">{{template "card_vertical" .}}</div>
        <div class="col-sm-4">{{template "card_vertical" .}}</div>
        <div class="col-sm-4">{{template "card_vertical" .}}</div>
        <div class="col-sm-4">{{template "card_vertical" .}}</div>
        <div class="col-sm-4">{{template "card_vertical" .}}</div>
        <div class="col-sm-4">{{template "card_vertical" .}}</div>
        <div class="col-sm-4">{{template "card_vertical" .}}</div>
      </div>
      {{template "pagination" .}}
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row site-content">
    <div class="col-sm-2"><h2 class="block-heading">Đề xuất</h2></div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6 col-6">{{template "card_vertical"}}</div>
        <div class="col-sm-6 col-6">{{template "card_vertical"}}</div>
        <div class="col-sm-6 col-6">{{template "card_vertical"}}</div>
        <div class="col-sm-6 col-6">{{template "card_vertical"}}</div>
        <div class="col-sm-6 col-6">{{template "card_vertical"}}</div>
        <div class="col-sm-6 col-6">{{template "card_vertical"}}</div>
        <div class="col-sm-6 col-6">{{template "card_vertical"}}</div>
        <div class="col-sm-6 col-6">{{template "card_vertical"}}</div>
      </div>
    </div>
  </div>
</div>
{{- end}}
