{{template "layout.html" .}}
<!--  -->
{{define "main" -}}

<div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">
    <article class="post-26592">
      <div class="container-fluid site-content">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-7">
            <div class="pb-1">
              <a
                class="meta-text text-uppercase"
                href="https://www.hiepsibaotap.com/cat/game"
                >Game</a
              >
              <span class="meta-text">•</span>
              <span class="meta-text"><a>22.04.2017</a></span>
            </div>
            <h1>Hiệp Sĩ Bão Táp – “Quán beer” cho gamer</h1>
            {{template "author" .}}
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
      <div class="container-fluid site-content"></div>
      <div class="container-fluid site-content">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-6">
            <div class="article-content">
              <h3>
                Tui thường ngồi uống beer vào lúc 3h chiều sau một ngày làm
                việc, bạn không nghe lầm đâu: Trong quán beer, chỉ duy nhất một
                mình, 3h chiều. Một thói quen đã có từ ba năm nay.
              </h3>
              <p>
                Khi nói uống beer một mình là tui nói dối, thực ra mỗi lần đến
                quán tui đều lấy điện thoại ra để đọc HSBT, và đối với tui đó có
                nghĩa là tui đang ngồi uống với những người anh em ghé thăm
                website, chúng ta đang có một cuộc trò chuyện kỳ lạ nhất quả
                đất: Không nói với nhau một lời nào, nhưng lại cùng chia sẻ cảm
                giác thích thú khi đọc những dòng tâm sự của một hiệp sĩ nào đó
                về trò chơi anh ta yêu thích, đó cũng có thể là một pha cứu thua
                trông thấy trong một trận leo rank căng thẳng, hoặc khoảnh khắc
                bồi hồi khi lần đầu tiên được chạm tay vào chiếc controller.
              </p>
              <p>
                Hàng ngày nhiều lần tui mở báo cáo ra để xem đang có bao nhiêu
                người đang ghé thăm web, đôi khi từ 50 người xem mà tăng lên 51
                tui lại nói bật thành tiếng “có khách tới!!”, vì mỗi bài viết
                các bạn đang đọc là một ly beer mà “quán HSBT” phục vụ. Đôi khi
                tui khá buồn nếu một ai đó vừa đến rồi đi ngay, vì thế là “beer
                không ngon”. Tui nghĩ, điều ý nghĩa mà HSBT mang lại không phải
                mỗi ngày nó có bao nhiêu views, mà đâu đó trên hành tinh này có
                bao nhiêu người đang cảm thấy vui vì đọc một bài viết trên HSBT.
              </p>
              <p>
                Quên giới thiệu, tui tên là Đăng, người thân hay gọi là Đăng
                Bông.
              </p>
              <p>
                Tui lập nên HSBT vào khoảng tháng 03 năm 2016 và đến bây giờ mục
                tiêu nó vẫn trước sau như một: trong khả năng của mình phát
                triển một sản phẩm có giá trị cho những người yêu game, mục tiêu
                không bao giờ là trở thành “một website game lớn nhất Việt Nam”,
                tui luôn muốn đây là một góc nhỏ yên bình trên cõi internet vốn
                đã rất xô bồ, một nơi tĩnh lặng nhưng vẫn có thể đem lại cho các
                bạn thông tin giá trị, những trận cười sảng khoái khi ghé thăm.
              </p>
              <p>
                Vì là một website nhỏ, “quán beer” nhỏ nên tất nhiên là nhân
                viên phục vụ ít! Trong khả năng tài chính có thể tui hiện đang
                duy trì website với lượng nội dung vừa phải,&nbsp;mục tiêu hiện
                tại là mỗi ngày một bài viết mới. HSBT không đăng tin tức mà tập
                trung viết những bài cảm nhận về game, gear. Tuy ít nhưng tinh
                thần là chất lượng.
              </p>
              <p>
                Quan điểm của cá nhân tui và nó cũng sẽ là quan điểm chung của
                HSBT: Tui chưa bao giờ coi game là một nơi để trốn tránh thực
                tại hay để chúng ta dành hết thời gian của mình cho nó. Chúng ta
                còn đời thực. Đó là lý do vì sao trên website HSBT cuối tuần có
                thể không có bài mới, vì tất cả những người anh em ở đây còn
                phải chơi nhiều game
                <em>hay-ho-nhưng-cũng-không-kém-phần-gay-go </em>khác, như: Dẫn
                Gấu đi bơi, Ôn thi đại học, lên kế hoạch đi phượt Châu Âu chẳng
                hạn.
              </p>
              <p>
                Quan điểm tiếp theo là về vấn đề… quan điểm, ở đây, trên website
                HSBT chúng ta sẽ tuyệt đối tôn trọng những góc nhìn khác nhau
                (Dota 2 vs LOL, PUBG GOTY, Yen hay Triss). Không đồng ý với một
                bài viết nào đó? Tuyệt vời! Hãy comment những luận điểm của mình
                thoải mái, miễn đừng thoá mạ một ai là được. Hãy đến đây một
                cách cởi mở với nhau. Và chúng ta chỉ nói về game.
              </p>
              <p>
                Xin cảm ơn các bạn đã ủng hộ HSBT, người viết lẫn người đọc,
                những người đã tin tưởng để đến và trải lòng mình. Các bạn là
                động lực rất lớn để HSBT tiếp tục phát triển. Trước mắt team còn
                rất nhiều việc phải làm: Chức năng mới, sửa bug, lỗi chính tả…
              </p>
              <p>
                Cuối cùng, mời các bạn đọc một bài thơ con cóc tui viết trong
                lúc đang đi bộ ngoài đường vừa nghe soundtrack của Zelda, tui
                nghĩ nó thể hiện khá đúng về tinh thần của web.
              </p>
              <p style="text-align: center">
                <em>Những gã ninja đến và đi như cơn gió</em><br />
                <em> Những chàng hiệp sĩ đến và,</em><br />
                <em> xây những lâu đài nguy nga tráng lệ</em><br />
                <em> đắp nên những sa mạc muối</em><br />
                <em> rèn kiếm</em><br />
                <em> chinh phục đàn cá mập</em><br />
                <em> dệt nên những bài hùng ca bất tận</em><br />
                <em> uống rượu và ca hát giữa những tràng cười hào sảng</em
                ><br />
                <em> Với thư viện Steam đầy ắp và thính chất thành đống.</em>
              </p>
              <p>Welcome to the Inn!</p>
              <p>
                <strong>Đăng Bông</strong><br />
                Chủ quán beer.
              </p>
            </div>
            <div>
              <div class="row">
                <div class="col-sm-2 text-center text-sm-start">
                  <a href="https://hiepsibaotap.com/author/admin/"
                    ><img
                      class="avatar-96"
                      src="https://hiepsibaotap.com/wp-content/uploads/2021/10/unnamed-152x152.jpeg"
                  /></a>
                </div>
                <div class="col-sm-10 text-center text-sm-start ps-4">
                  <a
                    class="secondary-text"
                    href="https://hiepsibaotap.com/author/admin/"
                    >ĐB</a
                  >
                  <span class="author-card d-block"
                    ><p class="meta-text badge badge-pill badge-legend">
                      Huyền
                      thoại&nbsp;★&nbsp;★&nbsp;★&nbsp;★&nbsp;★&nbsp;★&nbsp;★
                    </p>
                    &nbsp;&nbsp;<span class="badge-chuquan"
                      >Chủ quán</span
                    ></span
                  >
                  Nghĩ mình phận mỏng cánh chuồn
                </div>
              </div>
            </div>
            <div></div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </article>
    {{template "comment" .}}
  </main>
</div>

{{- end}}
