{{template "layout.html" .}} {{define "main" -}}
<style>
	.login-container {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.login-content {
		width: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 20px;
	}
	.login-form {
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		width: 100%;
		padding: 20px;
		border: 1px solid #ccc;
		border-radius: 12px;
	}
	.form-group input {
		display: block;
		padding: 8px;
		width: 100%;
		box-sizing: border-box;
	}
	.submit-btn {
		margin-top: 12px;
	}
</style>
<div class="login-container">
	<div class="login-content">
		<h3>LOGIN</h3>
		{{if .Form.Errors.Get `err`}}
		<div class="rounded-md bg-red-50 p-4 mb-4" id="register-form-error">
			<div class="flex">
				<div class="ml-3">
					<h3 class="text-sm font-bold text-red-600">
						{{.Form.Errors.Get `err`}}
					</h3>
				</div>
			</div>
		</div>
		{{end}}{{with .Form}}
		<form class="login-form" method="post">
			<div class="form-group">
				<label for="username">User Name</label>
				<input
					type="text"
					id="username"
					name="Username"
					placeholder="Your username"
					value="{{.Get `Username`}}"
					required
				/>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input
					type="password"
					id="password"
					name="Password"
					placeholder="Your password"
					value="{{.Get `Passowrd`}}"
					required
				/>
			</div>
			<div class="form-group">
				<input class="submit-btn" type="submit" value="Submit" />
			</div>
		</form>
	</div>
</div>
{{- end}}
