{{template "layout.html"}} {{define "main"}}
<div>
  <h1>FORGOT PASSWORD</h1>
  <form action="submit_form.php" method="post">
    <div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <button>Send Code</button>
    </div>
    <div class="form-group">
      <label for="verifyCode">Verify Code:</label>
      <input type="text" id="verifyCode" name="verifyCode" required />
    </div>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required />
    </div>
    <div class="form-group">
      <label for="renewPassword">Re-type New Password:</label>
      <input type="password" id="renewPassword" name="renewPassword" required />
    </div>
    <div class="form-group">
      <input type="submit" value="Change Password" />
    </div>
  </form>
</div>
{{end}}
