{{template "layout.html"}} {{define "main"}}
<div>
  <h1>CHANGE PASSWORD</h1>
  <form action="submit_form.php" method="post">
    <div class="form-group">
      <label for="oldPassword">Old Password:</label>
      <input type="password" id="oldPassword" name="oldPassword" required />
    </div>
    <div class="form-group">
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required />
    </div>
    <div class="form-group">
      <label for="renewPassword">Re-type New Password:</label>
      <input type="password" id="renewPassword" name="renewPassword" required />
    </div>
    <div class="form-group">
      <input type="submit" value="Change Password" />
    </div>
  </form>
</div>
{{end}}
