{{template "layout.html" .}} {{define "main" -}}
<!--  -->
<div class="py-4 grid grid-cols-3 gap-8">
  {{range .Posts}}
  <div
    style="
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    "
    class="rounded-lg overflow-hidden m-0 hover:-m-2 duration-300">
    <a class="block" href="/blogs/{{.Slug}}">
      <img
        src="{{.Poster}}"
        onerror="this.src = 'https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png';"
        alt="thumbnail"
        class="block w-full aspect-video" />
    </a>
    <div class="p-4 flex w-full flex-col gap-y-2">
      <a href="/blogs/{{.Slug}}" class="font-bold text-xl hover:text-sky-500"
        >{{.Title}}</a
      >
      <div class="flex items-center gap-x-4 text-base text-gray-400">
        <p>{{humanize_time .PublishedAt}}</p>
        <p>{{.AuthorUserName}}</p>
      </div>
      <p class="text-justify">{{.Short}}</p>
      <div class="w-full flex justify-end">
        <a href="/blogs/{{.Slug}}" class="font-medium text-blue-500"
          >Read more</a
        >
      </div>
    </div>
  </div>
  {{end}}
</div>
<div>{{template "pagination" .}}</div>
<!--  -->
{{- end}}
