{{template "layout.html"}} {{define "main"}}
<div>
  <h1>REGISTER</h1>
  <form action="submit_form.php" method="post">
    <div style="display: flex">
      <div class="form-group">
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name" required />
      </div>
      <div class="form-group">
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name" required />
      </div>
    </div>
    <div style="display: flex">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="username">User Name:</label>
        <input type="username" id="username" name="username" required />
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="form-group">
      <label for="retype-password">Retype Password:</label>
      <input
        type="password"
        id="retype-password"
        name="retype-password"
        required
      />
    </div>
    <div class="form-group">
      <input type="submit" value="Submit" />
    </div>
  </form>
</div>
{{end}}
