{{template "layout.html"}} {{define "main"}}
<style>
  .register-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .register-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
  }
  .form-group input {
    display: block;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  .submit-btn {
    margin-top: 12px;
  }
</style>
<div class="register-container">
  <div class="register-content">
    <h1>REGISTER</h1>
    <form class="register-form" action="submit_form.php" method="post">
      <div style="display: flex; width: 100%; column-gap: 12px">
        <div class="form-group" style="flex: 1">
          <label for="first-name">First Name:</label>
          <input type="text" id="first-name" name="first-name" required />
        </div>
        <div class="form-group" style="flex: 1">
          <label for="last-name">Last Name:</label>
          <input type="text" id="last-name" name="last-name" required />
        </div>
      </div>
      <div style="display: flex; width: 100%; column-gap: 12px">
        <div class="form-group" style="flex: 1">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group" style="flex: 1">
          <label for="username">User Name:</label>
          <input type="username" id="username" name="username" required />
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
      </div>
      <div class="form-group">
        <label for="retype-password">Retype Password:</label>
        <input
          type="password"
          id="retype-password"
          name="retype-password"
          required
        />
      </div>
      <div class="form-group">
        <input type="submit" value="Submit" />
      </div>
    </form>
  </div>
</div>
{{end}}
