{{template "layout.html" .}} {{define "main" -}}
<div>
	<h1>REGISTER</h1>
	{{if .Form.Errors.Get `err`}}
	<div class="rounded-md bg-red-50 p-4 mb-4" id="register-form-error">
		<div class="flex">
			<div class="ml-3">
				<h3 class="text-sm font-bold text-red-600">
					{{.Form.Errors.Get `err`}}
				</h3>
			</div>
		</div>
	</div>
	{{end}}{{with .Form}}
	<form method="post">
		<div style="display: flex">
			<div class="form-group">
				<label for="first-name">First Name:</label>
				<input
					type="text"
					id="first-name"
					name="FirstName"
					value="{{.Get `FirstName`}}"
					required
				/>
			</div>
			<div class="form-group">
				<label for="last-name">Last Name:</label>
				<input
					type="text"
					id="last-name"
					name="LastName"
					value="{{.Get `LastName`}}"
					required
				/>
			</div>
		</div>
		<div style="display: flex">
			<div class="form-group">
				<label for="email">Email:</label>
				<input
					type="email"
					id="email"
					name="Email"
					value="{{.Get `Email`}}"
					required
				/>
			</div>
			<div class="form-group">
				<label for="username">User Name:</label>
				<input
					type="username"
					id="username"
					name="Username"
					value="{{.Get `Username`}}"
					required
				/>
			</div>
		</div>
		<div class="form-group">
			<label for="password">Password:</label>
			<input
				type="password"
				id="password"
				name="Password"
				value="{{.Get `Password`}}"
				required
			/>
		</div>
		<div class="form-group">
			<label for="password-confirmation">Confirm Password:</label>
			<input
				type="password"
				id="password-confirmation"
				name="PasswordConfirmation"
				required
			/>
		</div>
		<div class="form-group">
			<input type="submit" value="Submit" />
		</div>
	</form>
	{{end}}
</div>
{{- end}}
