{{template "layout.html" .}}
<!--  -->
{{define "main" -}}
<div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">
    <article class="post-28078">
      <div class="container-fluid site-content">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-7">
            <div class="pb-1">
              <a
                class="meta-text text-uppercase"
                href="https://www.hiepsibaotap.com/cat/game"
                >Game</a
              >
              <span class="meta-text">•</span>
              <span class="meta-text"><a>18.05.2014</a></span>
            </div>
            <h1>Nội quy</h1>
            {{template "author" .}}
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
      <div class="container-fluid site-content"></div>
      <div class="container-fluid site-content">
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-6">
            <div class="article-content">
              <h3>
                Nội quy của quán beer, quán mới mở nên luật có thể chưa tốt, sẽ
                thay đổi qua quá trình học hỏi.
              </h3>
              <p><strong>1. Những khách sẽ mời ra khỏi quán</strong></p>
              <ul>
                <li>
                  Hằn học, hờn dỗi dẫn đến chửi bậy, kích động, gạ gẫm các thứ.
                  Không chửi người khác “Óc animal” “Óc hải sản”, như Óc Chó, Óc
                  Basa. Không có mấy câu kiểu như “Thằng ml mày ăn tôm càng xanh
                  hay gì mà đẹp trai vậy!” Không chửi đấng sinh thành của người
                  khác. Không chửi Yasuo, Hanzo, Clash of Clans gamer.
                </li>
                <li>
                  Không đề cập đến chính trị, đảng nhà nước, các cảng chiến
                  lược, biển đảo, tình hình biên giới phía Bắc và các nước lân
                  cận, tàu sân bay của Mỹ, khả năng quân sự của Đông Lào…
                </li>
                <li>
                  Không đề cập vấn đề tôn giáo nha các bạn! Không phân biệt vùng
                  miền nữa nha!
                </li>
                <li>
                  Không đề cập các vấn đề xã hội, ai đẩy ai, ai hờn ai, ai giận
                  ai, ai kiện ai, ai cầm nhầm ai, ai phụ tình ai, ai straight ai
                  gay, ai là Sky’ss ai không, việc đó có nhà nước lo. Anh em
                  chúng ta lo “Chừng nào lại có Steam Sales?”
                </li>
                <li>
                  Không share các link có nội dung trên 80% là da thịt (bất kể
                  giới tính, chủng loài, thân nhiệt nào). Đồ ăn thì chấp nhận
                  được. Không làm Đường Tam Tạng. Nhu cầu, nếu có, tự khắc sẽ
                  tìm được.
                </li>
                <li>
                  Không share link game crack / không hỏi link game crack. Chủ
                  quán sẽ cố gắng GA càng nhiều càng tốt để anh em mua được
                  game. Còn lại các bạn tự tìm chỗ-nào-đấy.
                </li>
                <li>
                  Quán beer không bán game, không bán key, không bán phần cứng,
                  không bán phần mềm, không bán thân. Nên đừng inbox gạ gẫm các
                  vấn đề này.
                </li>
              </ul>
              <p><strong>2. Hãy là vị khách văn minh</strong></p>
              <ul>
                <li>Chia sẻ game hay cho anh em tham khảo</li>
                <li>
                  Cụng ly với người viết bài để thể hiện tinh thần hiệp sĩ (hoặc
                  <em>để tán thưởng họ</em>)
                </li>
                <li>
                  Muốn viết bài, liên hệ ngay chủ quán để thực hiện điều đó
                </li>
                <li>Gửi nhạc hay cho chủ quán nghe</li>
                <li>Gửi thơ Nguyên Sa cho chủ quán đọc</li>
                <li>
                  Góp ý với chủ quán tại Guestbook những cái làm cho quán đẹp
                  hơn
                </li>
                <li>Khen chủ quán và đồng bọn đẹp trai và manly</li>
                <li>
                  Có bạn bè anh chị thích chơi game, giới thiệu họ đến quán beer
                  dành cho gamer độc nhất thế giới
                </li>
                <li>Chơi game ít thôi, còn học nữa</li>
              </ul>
              <p><strong>3. Những lưu ý khác</strong></p>
              <ul>
                <li>
                  Chủ quán cũng là human nên bạn nào lúc 2h sáng inbox hỏi “Cạc
                  này đi với main nào được?” thì chịu khó chờ sáng mai sẽ trả
                  lời nha vì lúc đó đa số đã ngủ hoặc nếu không ngủ thì làm
                  những việc phù hợp với thời điểm đó. Yên tâm cố gắng trả lời
                  100% các inbox ngoại trừ các nội dung bán Sim hoặc “ấy ấy”.
                </li>
                <li>
                  Vì là human nên sẽ có lúc sai lầm nên mong các bạn rộng lượng
                  bỏ qua mà góp ý, chủ quán sẽ sửa chữa, ăn năn và tiếp tục phục
                  vụ các bạn.
                </li>
                <li>
                  Nhật ký của chủ quán đôi khi rất dài dòng nhưng thỉnh thoảng
                  len lỏi trong đó là event GA nhận quà liền!
                </li>
                <li>Lâu lâu cho chủ quán phá luật hihi</li>
              </ul>
              <p>—</p>
              <p>
                Bản ngắn gọn: Anh em đến đây để nói về game và hãy cư xử tử tế
                với nhau.
              </p>
            </div>
            <div>
              <div class="row">
                <div class="col-sm-2 text-center text-sm-start">
                  <a href="https://hiepsibaotap.com/author/admin/"
                    ><img
                      class="avatar-96"
                      src="https://hiepsibaotap.com/wp-content/uploads/2021/10/unnamed-152x152.jpeg"
                  /></a>
                </div>
                <div class="col-sm-10 text-center text-sm-start ps-4">
                  <a
                    class="secondary-text"
                    href="https://hiepsibaotap.com/author/admin/"
                    >ĐB</a
                  >
                  <span class="author-card d-block"
                    ><p class="meta-text badge badge-pill badge-legend">
                      Huyền
                      thoại&nbsp;★&nbsp;★&nbsp;★&nbsp;★&nbsp;★&nbsp;★&nbsp;★
                    </p>
                    &nbsp;&nbsp;<span class="badge-chuquan"
                      >Chủ quán</span
                    ></span
                  >
                  Nghĩ mình phận mỏng cánh chuồn
                </div>
              </div>
            </div>
            <div></div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </article>
    {{template "comment" .}}
  </main>
</div>
{{- end}}
