* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  position: relative;
}

input,
a,
button {
  display: block;
}

.user-button:hover .user-dropdown {
  display: block;
}

#menuToggle:checked ~ .mobile-menu {
  display: block;
  transform: translateY(0);
}
