<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="data:," />
    <link rel="stylesheet" href="/theme/basic/styles/index.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />

    <title>Blog</title>
  </head>
  <body>
    <div style="position: fixed; top: 0; left: 0; right: 0">
      {{ template "header" .}}
    </div>
    <div
      style="
        min-height: 80vh;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
      "
    >
      {{ template "main" .}}
    </div>
    <div>{{ template "footer" .}}</div>
  </body>
</html>
