{{- define "pagination"}} {{if .Pagination}} {{$current_url := .CurrentURL}}
{{with .Pagination}}
<nav class="" aria-label="Pagination">
	<div class="pagination">
		<!-- First -->
		{{if .First}}
		<a
			class="first_page"
			href="{{build_pagination $current_url .First}}"
			aria-label="First Page"
		>
			First
		</a>
		{{else}}
		<span class="first_page" aria-disabled="true">First</span>
		{{end}}
		<!-- Prev -->
		{{if .Prev}}
		<a
			class="previous_page"
			href="{{build_pagination $current_url .Prev}}"
			aria-label="Previous Page"
		>
			Previous
		</a>
		{{else}}
		<span class="previous_page" aria-disabled="true">Previous</span>
		{{end}}
		<!-- LeftPages -->
		{{range .LeftPages}}
		<a class="page" href="{{build_pagination $current_url .}}">{{.}}</a>
		{{end}}
		<!-- CurrentPage -->
		<a
			class="page current"
			href="{{build_pagination $current_url .CurrentPage}}"
			>{{.CurrentPage}}</a
		>
		<!-- RightPages -->
		{{range .RightPages}}
		<a class="page" href="{{build_pagination $current_url .}}">{{.}}</a>
		{{end}} {{if .Next}}
		<a
			class="next_page"
			href="{{build_pagination $current_url .Next}}"
			aria-label="Next Page"
		>
			Next
		</a>
		{{else}}
		<span class="next_page" aria-disabled="true">Next</span>
		{{end}}
		<!-- Last -->
		{{if .Last}}
		<a
			class="last_page"
			href="{{build_pagination $current_url .Last}}"
			aria-label="Last Page"
		>
			Last
		</a>
		{{else}}
		<span class="last_page" aria-disabled="true">Last</span>
		{{end}}
	</div>
	{{end}} {{end}} {{- end}}
</nav>
